<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/playoff.css">
    <title>EURO2021 PlayOff</title>
</head>
<body>
<div class="playoff-table">
    <div class="playoff-table-content">
        <div class="playoff-table-tour">
            <div class="playoff-table-group">
                <div class="playoff-table-pair playoff-table-pair-style">
                    <div class="playoff-table-left-player">Belgien</div>
                    <div class="playoff-table-right-player">Portugal</div>
                </div>
                <div class="playoff-table-pair playoff-table-pair-style">
                    <div class="playoff-table-left-player">Italien</div>
                    <div class="playoff-table-right-player">Österrike</div>
                </div>
            </div>
            <div class="playoff-table-group">
                <div class="playoff-table-pair playoff-table-pair-style">
                    <div class="playoff-table-left-player">Frankrike</div>
                    <div class="playoff-table-right-player">Schweiz</div>
                </div>
                <div class="playoff-table-pair playoff-table-pair-style">
                    <div class="playoff-table-left-player">Kroatien</div>
                    <div class="playoff-table-right-player">Spanien</div>
                </div>
            </div>
            <div class="playoff-table-group">
                <div class="playoff-table-pair playoff-table-pair-style">
                    <div class="playoff-table-left-player">Sverige</div>
                    <div class="playoff-table-right-player">Ukraina</div>
                </div>
                <div class="playoff-table-pair playoff-table-pair-style">
                    <div class="playoff-table-left-player">England</div>
                    <div class="playoff-table-right-player">Tyskland</div>
                </div>
            </div>
            <div class="playoff-table-group">
                <div class="playoff-table-pair playoff-table-pair-style">
                    <div class="playoff-table-left-player">Nederländerna</div>
                    <div class="playoff-table-right-player">Tjeckien</div>
                </div>
                <div class="playoff-table-pair playoff-table-pair-style">
                    <div class="playoff-table-left-player">Wales</div>
                    <div class="playoff-table-right-player">Danmark</div>
                </div>
            </div>
        </div>
        <div class="playoff-table-tour">
            <div class="playoff-table-group">
                <div class="playoff-table-pair playoff-table-pair-style">
                    <div class="playoff-table-left-player">Belgien</div>
                    <div class="playoff-table-right-player">Italien</div>
                </div>
                <div class="playoff-table-pair playoff-table-pair-style">
                    <div class="playoff-table-left-player"></div>
                    <div class="playoff-table-right-player"></div>
                </div>
            </div>
            <div class="playoff-table-group">
                <div class="playoff-table-pair playoff-table-pair-style">
                    <div class="playoff-table-left-player"></div>
                    <div class="playoff-table-right-player"></div>
                </div>
                <div class="playoff-table-pair playoff-table-pair-style">
                    <div class="playoff-table-left-player">Tjeckien</div>
                    <div class="playoff-table-right-player">Danmark</div>
                </div>
            </div>
        </div>
        <div class="playoff-table-tour">
            <div class="playoff-table-group">
                <div class="playoff-table-pair playoff-table-pair-style">
                    <div class="playoff-table-left-player"></div>
                    <div class="playoff-table-right-player"></div>
                </div>
                <div class="playoff-table-pair playoff-table-pair-style">
                    <div class="playoff-table-left-player"></div>
                    <div class="playoff-table-right-player"></div>
                </div>
            </div>
        </div>
        <div class="playoff-table-tour">
            <div class="playoff-table-group">
                <div class="playoff-table-pair playoff-table-pair-style">
                    <div class="playoff-table-left-player"></div>
                    <div class="playoff-table-right-player"></div>
                </div>
                <div class="playoff-table-third-place playoff-table-pair-style">
                    <div class="playoff-table-left-player"></div>
                    <div class="playoff-table-right-player"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>