{{> header }}
            <div class="collapse navbar-collapse" id="main-menu">
              <div class="navbar-nav">
                <li class="nav-item">
                <a class="nav-link" href="/">Index</a>
                </li>
                <li class="nav-item">
                <a class="nav-link active" href="/playoff">Playoff</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/scorers">Scorers</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/standings">Standings</a>
                </li>
              </div>
            </div>
        </div>
    </nav>
<div class="playoff-table">
    <div class="playoff-table-content">
        <div class="playoff-table-tour">
            <div class="playoff-table-group">
                <div class="playoff-table-pair playoff-table-pair-style">
                    <div class="playoff-table-left-player">Belgium<span class="score">1</span></div>
                    <div class="playoff-table-right-player">Portugal<span class="score">0</span></div>
                </div>
                <div class="playoff-table-pair playoff-table-pair-style">
                    <div class="playoff-table-left-player">Italy<span class="score">2(0)</span></div>
                    <div class="playoff-table-right-player">Austria<span class="score">1(0)</span></div>
                </div>
            </div>
            <div class="playoff-table-group">
                <div class="playoff-table-pair playoff-table-pair-style">
                    <div class="playoff-table-left-player">France<span class="score">4(3)</span></div>
                    <div class="playoff-table-right-player">Switzerland<span class="score">5(3)</span></div>
                </div>
                <div class="playoff-table-pair playoff-table-pair-style">
                    <div class="playoff-table-left-player">Croatia<span class="score">3(3)</span></div>
                    <div class="playoff-table-right-player">Spain<span class="score">5(3)</span></div>
                </div>
            </div>
            <div class="playoff-table-group">
                <div class="playoff-table-pair playoff-table-pair-style">
                    <div class="playoff-table-left-player">Sweden<span class="score">1(1)</span></div>
                    <div class="playoff-table-right-player">Ukraine<span class="score">2(1)</span></div>
                </div>
                <div class="playoff-table-pair playoff-table-pair-style">
                    <div class="playoff-table-left-player">England<span class="score">2</span></div>
                    <div class="playoff-table-right-player">Germany<span class="score">0</span></div>
                </div>
            </div>
            <div class="playoff-table-group">
                <div class="playoff-table-pair playoff-table-pair-style">
                    <div class="playoff-table-left-player">Netherlands<span class="score">0</span></div>
                    <div class="playoff-table-right-player">Czech Republic<span class="score">2</span></div>
                </div>
                <div class="playoff-table-pair playoff-table-pair-style">
                    <div class="playoff-table-left-player">Wales<span class="score">0</span></div>
                    <div class="playoff-table-right-player">Denmark<span class="score">4</span></div>
                </div>
            </div>
        </div>
        <div class="playoff-table-tour">
            <div class="playoff-table-group">
                <div class="playoff-table-pair playoff-table-pair-style">
                    <div class="playoff-table-left-player">Belgium<span class="score">1</span></div>
                    <div class="playoff-table-right-player">Italy<span class="score">2</span></div>
                </div>
                <div class="playoff-table-pair playoff-table-pair-style">
                    <div class="playoff-table-left-player">Switzerland<span class="score">1(1)</span></div>
                    <div class="playoff-table-right-player">Spain<span class="score">3(1)</span></div>
                </div>
            </div>
            <div class="playoff-table-group">
                <div class="playoff-table-pair playoff-table-pair-style">
                    <div class="playoff-table-left-player">Ukraine<span class="score">0</span></div>
                    <div class="playoff-table-right-player">England<span class="score">4</span></div>
                </div>
                <div class="playoff-table-pair playoff-table-pair-style">
                    <div class="playoff-table-left-player">Czech Republic<span class="score">1</span></div>
                    <div class="playoff-table-right-player">Denmark<span class="score">2</span></div>
                </div>
            </div>
        </div>
        <div class="playoff-table-tour">
            <div class="playoff-table-group">
                <div class="playoff-table-pair playoff-table-pair-style">
                    <div class="playoff-table-left-player">Italy<span class="score">4(1)</span></div>
                    <div class="playoff-table-right-player">Spain<span class="score">2(1)</span></div>
                </div>
                <div class="playoff-table-pair playoff-table-pair-style">
                    <div class="playoff-table-left-player">England<span class="score">2(1)</span></div>
                    <div class="playoff-table-right-player">Denmark<span class="score">1(1)</span></div>
                </div>
            </div>
        </div>
        <div class="playoff-table-tour">
            <div class="playoff-table-group">
                <div class="playoff-table-pair playoff-table-pair-style">
                    <div class="playoff-table-left-player"><b>Italy</b><span class="score">3(1)</div>
                    <div class="playoff-table-right-player">England<span class="score">2(1)</div>
                </div>
            </div>
        </div>
    </div>
</div>
{{> footer }}